__pycache__/
*.py[codz]
*$py.class
*.pyc
.venv/
env/
venv/
.env
*.log
*.egg-info/
dist/
build/
.ruff_cache/
.mypy_cache/
.idea/
*.iml
.vscode/settings.json
data/fiscsoft.db
data/fiscsoft.db.backup
*.backup
